<!DOCTYPE html>
<style>
    body {
        background-color: black;
        color: white;
    }
</style>

<h1>Blogcito</h1>
<div class="posts">
    {% for post in posts %}
        <div class="post">
            <h2><a href="#">{{ post.title }}</a></h2>
            <p>{{ post.body|linebreaks }}</p>
            <!-- <p>{{ post.body|truncatechars:1000 }}</p> -->
            <p>{{ post.created_at }}</p>
        </div>
    {% endfor %}
</div>

<p><a href="http://127.0.0.1:8000/admin">Admin page</a></p>
